[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
CN = base-microservice-schema-registry
OU = IT
O = SGU
L = HCM
ST = BinhTan
C = VN

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = base-microservice-schema-registry
